.login-container  {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1000px;;
  }
  
  .login {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 40px;
    border-radius: 25px;
    height: 300px;
    width: max-content;
    
  }