.tool-container {
    height: fit-content;
    width: fit-content;
    padding: 20px;
}

.tool-div   {
    height: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    border: 1px solid var(--secondary-text-color);
    border-radius: 30px;
}

.tool-div:hover   {
    background-color: var(--header);
}

.icon-chevron  {
    height: 20px;
}

.expand {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
