.tool-container {
    height: fit-content;
    padding: 20px;
}

.tool-div   {
    height: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 89%;
    border: 1px solid var(--secondary-text-color);
    border-radius: 30px;

}

.tool-div:hover   {
    background-color: var(--header);
}

.icon-chevron  {
    height: 20px;
}


.hide{
    display: none;
}

.expand {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
}

.expandDiv  {
    height: fit-content;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.buy-btn{
    background-color:var(--header);
    justify-content: center;
    display: flex;
    width: max-content;
    height: max-content;
    margin-top: 30px;
}

.tool-expanded  {
    font-size: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-div   {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-div  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}