.addtool-btn{
    text-decoration: none;
    font-size: medium;
    color: white;
    width: fit-content;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
    padding: 20px;
    border: none;
    background-color: var(--header);
    transition-duration: 0.3s;
}

.addtool-btn > * {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.listed-tools   {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.tool   {
    padding: 20px;
    
}

